.LandingPage {
    background-image: url('https://i.pinimg.com/originals/23/0c/68/230c68295a086b46a3bd01d03bef7719.gif');
    background-size: cover;
    background-position: center bottom; /* Cambia "center center" a "center bottom" */
    height: 100vh;
    display: flex;
    flex-direction: column; /* Alinea el botón al centro verticalmente */
    justify-content: flex-end; /* Coloca el botón al final del contenedor */
    align-items: center;
  }
  
  .button {
    background-color: #f8a5c2;
    border: none;
    color: white;
    padding: 25px 50px; /* Aumenta el tamaño del botón */
    border-radius: 30px; /* Aumenta el radio de las esquinas */
    font-size: 18px; /* Aumenta el tamaño de la fuente */
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Aumenta la sombra para un aspecto más elevado */
    margin-bottom: 150px; /* Agrega margen inferior para separar del fondo */
  }
  
  .button:hover {
    background-color: #ff6b9c;
  }
  
  
  
  
  
  
  